pre {
    background-color: null;
}

code {
    background-color: null;
    color: #e48dfc;
}

/* KeyWordTok */
.sourceCode .kw { color: #e48dfc; }
/* DataTypeTok */
.sourceCode .dt { color: #f2bc5e; }

/* DecValTok (decimal value), BaseNTok, FloatTok */
.sourceCode .dv, .sourceCode .bn, .sourceCode .fl { color: #0000cf; }
/* CharTok */
.sourceCode .ch { color: #4e9a06; }
/* StringTok */
.sourceCode .st { color: #4e9a06; }
/* CommentTok */
.sourceCode .co { color: #b6b6bf; }
/* OtherTok */
.sourceCode .ot { color: #e48dfc; }
/* AlertTok */
.sourceCode .al { color: #ef2929; font-weight: bold; }
/* FunctionTok */
.sourceCode .fu { color: #000000; }
/* RegionMarkerTok */
.sourceCode .re { }
/* ErrorTok */
.sourceCode .er { color: #a40000; font-weight: bold; }
